# Files
.env
run.py
*.txt
!requirements.txt
*.json
*.c
*.cpp
*.o
*.pyd
*.def
Cargo.lock
ascii.gen
cmd.md
# Dirs
.vscode
target
bin
gen/*
keepers
scores
build
app
__pycache__
secrets
data/
.history
secrets
.dockerrc
.venv
*.db
*.log
**/gen/*.json
.build-metrics.db
# Temp Ignore

